<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" parameterType="Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name,category_id,price,image,description,status,create_time,update_time,create_user,
                update_user) values(#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},
                                             #{updateUser})
    </insert>

    <resultMap id="dishPage" type="DishVO">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result column="image" property="image"></result>
        <result column="description" property="description"></result>
        <result column="status" property="status"></result>
        <result column="updateTime" property="updateTime"></result>
        <result column="category_name" property="categoryName"></result>
    </resultMap>
    <select id="pageQuery" parameterType="DishPageQueryDTO" resultMap="dishPage">
        select dish.*,category.name category_name from dish LEFT JOIN category ON dish.category_id=category.id
        <where>
            <if test="name != null">and dish.name like concat('%',#{name},'%')</if>
            <if test="categoryId != null">and category_id=#{categoryId}</if>
            <if test="status != null">and status=#{dish.status}</if>
        </where>
    </select>

<!--    批量删除菜品-->
    <delete id="delete">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

<!--    id查询菜品-->
    <select id="getById" parameterType="Long" resultType="Dish">
        select * from dish where id=#{id}
    </select>

<!--    编辑菜品-->
    <update id="update" parameterType="Dish">
        update dish
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="categoryId != null">category_id=#{categoryId},</if>
            <if test="price != null">price=#{price},</if>
            <if test="image != null">image=#{image},</if>
            <if test="description != null">description=#{description},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where id=#{id}
    </update>

<!--    更改菜品状态-->
    <update id="statusChange">
        update dish set status=#{status}
        where id=#{id}
    </update>

</mapper>
